<?xml version="1.0"?>
<config>
    <modules>
        <Aajit_Dataman>
            <version>1.0.0</version>
        </Aajit_Dataman>
    </modules>

  <!--  <adminhtml>
        <translate>
            <modules>
                <Aajit_Dataman>
                    <files>
                        <default>Aajit_Dataman.csv</default>
                    </files>
                </Aajit_Dataman>
            </modules>
        </translate> Aajit_Dataman
    </adminhtml>-->

    <global>
        <helpers>
            <dataman>
                <class>Aajit_Dataman_Helper</class>
            </dataman>
        </helpers>
        <models>
            <dataman>
                <class>Aajit_Dataman_Model</class>
                <resourceModel>dataman_resource</resourceModel>
            </dataman>
            <dataman_resource>
                <class>Aajit_Dataman_Model_Resource</class>
                <entities>
                    <contract>
                        <table>aajit_dataman</table>
                    </contract>
                </entities>
            </dataman_resource>
        </models>
        <resources>
            <dataman_setup>
                <setup>
                    <module>Aajit_Dataman</module>
                </setup>
            </dataman_setup>
        </resources>
        <blocks>
            <dataman>
                <class>Aajit_Dataman_Block</class>
            </dataman>
        </blocks>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Aajit_Dataman before="Mage_Adminhtml">Aajit_Dataman</Aajit_Dataman>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

</config>
